@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
  .customers-link {
    width: 190px;
  }
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/office-tab.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/office-tab-2x.jpg');
    }
  }

  .footer-input {
    width: 398px;
  }

  .modal-window {
    width: 392px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .mob-menu-button {
    display: none;
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
  }
  /* Navigation----------------- */
  .nav-list .link:hover,
  .nav-list .link:focus {
    color: var(--bright-color);
  }
  .nav-list .item {
    position: relative;
  }
  .nav-list .link {
    transition: color var(--for-animation);

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--tittle-color);
    text-decoration: none;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-list {
    display: flex;
  }

  .nav-list .item + .item {
    margin-left: 40px;
  }
  .nav-list .item:first-child {
    margin-left: 76px;
  }
  .feedback .list {
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
    display: block;
  }
  .feedback {
    margin-left: auto;
  }
  .feedback-list .link {
    transition: color var(--for-animation);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .feedback .link:hover,
  .feedback .link:focus {
    color: var(--bright-color);
  }
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/office.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/office-2x.jpg');
    }
  }
  .hero-tittle {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    margin-bottom: 40px;
    max-width: 496px;
  }
  .skills-list {
    gap: 72px 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .secondary-tittle {
    text-align: unset;
  }
  .skills-list .item {
    width: 356px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 16px;
  }
  .team-list > .item {
    width: calc((100% - 32px) / 2);
  }
  .team > .container {
    width: 578px;
  }
  .customers .container {
    width: 590px;
  }
  .customers-link {
    width: 168px;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: 168px;
  }
  .footer-social {
    margin-bottom: 0;
  }
  .footer-text-box {
    margin-bottom: 0px;
  }
  .footer-secondary-block {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
  }
  .footer-section .logo {
    margin-bottom: 16px;
  }
  .footer-form-container {
    text-align: start;
  }
  .footer-section .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
  }
  .footer-input {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }
  .modal-window {
    width: 408px;
    padding: 24px;
  }
}
/* ---------------------------Width---------1128------------------------------------------------------ */
@media screen and (min-width: 1128px) {
  .container {
    width: 1128px;
  }
  .feedback .list {
    display: flex;
  }
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
  }
  .skills-section {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .skill-icon {
    width: 264px;
    height: 112px;
    background: var(--cloud-color);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-item {
    width: 64px;
    height: 64px;
  }
  .secondary-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.07;
  }
  .skills-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .skill-text {
    font-weight: 400;
    width: 264px;
  }
  .examples {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 120px;
  }

  .examples-tittle {
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--tittle-color);
    line-height: 1.11;
    margin-bottom: 72px;
  }
  .examples-list {
    display: flex;
    gap: 24px;
  }
  .examples-list .item {
    width: calc((100% - 48px) / 3);
    border: 1px solid #e7e9fc;
    background: linear-gradient(
        0deg,
        rgba(77, 90, 229, 0.1),
        rgba(77, 90, 229, 0.1)
      ),
      url(2368.jpg);
    background-blend-mode: soft-light, normal;
  }

  .team > .container {
    width: 1160px;
  }

  .team-list {
    gap: unset;
  }
  .team-list .item {
    width: calc((100% - 72px) / 4);
    margin-right: 24px;
  }
  .team-list .item:last-child {
    margin-right: 0;
  }
  .customers .container {
    width: 1160px;
  }
  .customers-list {
    gap: 0px 24px;
  }
  .footer-secondary-block {
    margin-bottom: 0;
    gap: 0;
    margin-right: 80px;
  }
  .footer-section .container {
    flex-direction: row;
    width: 1160px;
  }
  .footer-text-box {
    margin-right: 120px;
  }
  .footer-text {
    color: #d9d9d9;
  }
  .footer-form {
    display: flex;
  }
}
