@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
  .customers-link {
    width: 190px;
    height: 88px;
  }
  .customers-list {
    gap: 72px 24px;
    justify-content: unset;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .customers .container {
    width: 558px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 16px;
  }
  .team-list > .item {
    width: calc((100% - 32px) / 2);
  }
  .team > .container {
    width: 578px;
  }
  .customers-item {
    width: calc((100% - 72px) / 3);
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-link {
    width: 168px;
    height: 88px;
  }
}

@media screen and (min-width: 1128px) {
  .container {
    width: 1128px;
  }
  .team > .container {
    width: 1128px;
  }

  .team-list {
    gap: unset;
  }
  .team-list .item {
    width: calc((100% - 96px) / 4);
    margin-right: 24px;
  }
}
