@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container > .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 16px;
  }
  .team-list > .item {
    width: calc((100% - 32px) / 2);
    /* margin-right: 16px;
    margin-bottom: 64px; */
  }
  .team > .container {
    width: 578px;
  }
  .customers-item {
    width: calc((100% - 72px) / 3);
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-link {
  width: 168px;
  height: 88px;
}

@media screen and (min-width: 1128px) {
  .container {
    width: 1128px;
  }
}
